div id="contact" class="content_box"
  | A contact form is coming soon, for now, please feel free to email Vanessa:
  br
  = link_to "vmlcunningham@gmail.com", "mailto:vmlcunningham@gmail.com"
 
    
