/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Papyrus";
  src:font-url("papyrus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: image-url("dark-wood-background.jpg");
  background-attachment: fixed;
  font-family: "Papyrus";
  font-size: large;
  line-height: 135%;
}

div#header {
  height: 300px;
  background-image: image-url("header.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 10px;
}

div#wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

div#link-container {
  background-color: OldLace;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

div#links {
  width: 600px;
  margin-left: auto;
  margin-right: auto;

  a {
    padding: 10px;
  }
}

.content_box {
  margin: 10px;
  background-color: OldLace;
  //font: ;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.9;
}
